*{
    box-sizing: border-box;
}

body{
   display: grid;
   font-family: 'poppins' , sans-serif;
   margin: 0%;
   padding: 0%;
   background-color: white;
   height: 100%;
}
header{
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    top:0;
    color:rgb(240, 233, 233);
    background-color: #c03b79;
}
.toggle{
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 20;
}
.ouvrir{
    display: block;
}
.fermer{
    display: none;

}
.open .ouvrir{
    display:none;
}
.open .fermer{
    display:block;
    position:fixed;
   margin-left:-26px;
}
.navi{
    background-color: #c03b79;
    position: fixed;
    height: 100%;
    width: 100%;
    top:-20px;
    left:-20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    transform: translatex(-110%);
    transition: transform 0.5s;
}

.navi li,a{
    margin: 20px 0px 20px -22px;
    padding: 10px 20px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.open .navi{
    transform: translatex(20px);
}
.open .navi a:hover{
    background-color:#c03b79;
}
.name span{
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
}
#iwarek, #icust{
    display: none;
    margin: 0px;
    padding: 0px;
}
.hilfe{
    background-color: #8b8dd8;
    border-radius: 7px;
    border: 2px solid transparent;
}
h1{
    text-align: center;
    font-size: 20px;
}

footer{
    display: grid;
    text-align: center;
    color: white;
    background-color:#c03b79;
    width:100%;
    padding-top:15px;
    margin-bottom:0px;
    clear: both;
}
.foot{
    display: grid;
    padding: 15px 0;
    font-size: 15px;
}
.titel{
    font-size: 20px;
}
.foo1{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    margin-right:30%;
    position: relative;
    margin-left: 100px;
    bottom: 40px;
    font-size: 1rem;
}
.foo1:hover{
    color: green;
}

i{
    color: #000000;
}
#car{
    font-size: 44px;
    color:#fff;
}
.liste-horaires{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-left: 50px;
}
.liste-horaires li{
    margin: 10px;
}
.foo1{
    list-style-type: none;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 5px 10%;
}
.foot .lien-icone{
    align-items: center;
    padding: 5px;
    margin:0px 3px;
    
}
.itext{
    text-align: center;
}
.home-text img{
    height: 200px;
    width: 375px;
}

.btn{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: black;
    margin:20px 50% 40px 50%;
    font-weight: var(--font-medium);
}

.btn::before{
    content: '';
    border: 2px solid gray;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px rgb(255, 0, 195);
    transition: .3s;
    animation: button 3s infinite;
}

.btn{
    display: none;
}
#icon{
    color: #fff;
}

@keyframes button{
    0%{
        box-shadow: 0 0  12px rgb(255, 0, 140);
    }
    50%{
        box-shadow: 0 0  24px rgb(255, 0, 111);
    }
}
.home-text img{
    height: 300px;
    width: 100%;
}

.home{
    display: grid;
}
.sec2{
    display: grid;
}

.home-text{
    position: relative;
    row-gap: 3rem;
}
.home_car{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}
.home_car_name{
    font-size: .800rem;
    font-weight: 400;
    color: black; 
}
.home_car_data{
    text-align: center;
}
.home_car_nummer{
    font-size: var(--h2-font-size) ;
    margin-bottom: .25rem;
}

.wrapper{
    display: grid;
    width: 75%;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 35px rgb(255, 0, 238);
}
.member, .terms{
    display: grid;
}
.terms a, .member a, .recover a{
    color: rgb(242, 143, 245);
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    place-items: center;
}
.recover a{
    margin-left: -100px;
}

.ititle1{
    font-size:1.2rem;
    margin-bottom: 1.2rem;
    margin: 0 15px;
}
form input{
    width: 82%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e4e4e4;
}
.button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 80%;
    color: #fff;
    cursor: pointer;
    background-color: rgb(255, 0, 238);
}
#but, #bit{
    margin-left: 50px;
    margin-top: 10px;
}
.con{
    margin-left: -40px;
}

button:hover{
    background: rgb(132, 132, 243);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.9rem;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
}
.recover{
    position: relative;
    left: 60px;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.button{
    position: relative;
    left: -15px;
}
#wapp{
    display: none;
}

.tit{
    margin-bottom: 10%;
}
.ti{
    margin-top: 0%;
}
#zeit{
    font-size: 1rem;
}
.fooo{
    padding-bottom: 0%;
}
#add{
    margin-top: 0%;
}
@media screen and (min-width:667px ){
    .toggle{
        display: none;
    }
    .navi{
        transform: translateX(0);
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction:row;
        transition: transform 0s;
        width: auto;
        margin: 10px 0px 0px 0px;
    }
    .navi a{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin:-20px;
       margin-right: 10px;
        color: rgb(252, 244, 244);
        font-size: 1.5rem;

    }
    .navi a:hover{
        background-color: #79e110;
        color: white;
    }
    .navi a i{
        margin-right:5px;
    }
    .navi .hilfe{
        background-color: #4fc03b;
        color: white;
        border-radius: 6px;
        padding: 10px 20px;
    }
    #car{
        font-size: 4rem;
    }
    .name{
        font-size: 30px;
    }
    .name span{
        font-size: 5rem;
    }
    header{
        padding-bottom: 0px;
        margin-bottom: -30px;

    }
    hr{
        border: 1px solid black;
        margin-bottom: 50px;
    }

    footer{
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        padding-top: 30px;

        background-color: #c03b79;
    }
    footer .foot{
        position: static;
        margin: 5%px;
    }
    footer .foot:nth-child(3){
        display: flex;
        flex-direction: column;

    }
    footer .lo{
        margin-top: 20px;
    }
    footer .las{
        position: relative;
        margin-top: 50px;
    }
    .space{
        margin-right: 30px;
        margin-left: 30px;
    }
    .liste-horaires{
        display: grid;
        flex-direction: column;
        margin: 20px 40% 20px 0 ;
        align-items: center;
    }
    .home-text img{
        height: 400px;
        width: 90%;
    }
    .container{
        display: grid;
        grid-template-columns:50% 50%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .home{

    }

    .sec2{

    }
    .wrapper{
        margin-top: 0px;
        width:80%;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 10px 35px rgb(255, 0, 238);
        position:relative;
    }
    .member, .terms{
        display: grid;
    }
    .terms a, .member a, .recover a{
        color: rgb(242, 143, 245);
        font-size: 1rem;
        text-decoration: none;
        position: relative;
        place-items: center;
    }
    .home_img{
        width: 90%;
        margin-left: 10%;
    }
    .home-text h1{
        padding-top: 7rem;
    }
    
    .button{
        font-size: 1.5rem;
        margin-top: 1.8rem;
        padding: 10px 0;
        border-radius: 20px;
        outline: none;
        border: none;
        width: 80%;
        color: #fff;
        cursor: pointer;
        background-color: rgb(255, 0, 238);
    }
    .ititle1{
        margin-top: 30px 0px 20px 0px;
        font-size: 3rem;
    }
    .itext{
        font-size: 1.4rem;
    }
    .terms{
        display: flex;
        margin-left: 10%;
    }
    .terms label{
        margin-left: 6%;
        font-size: 1.1rem;
    }
    .con{
        margin-left: -10px;
    }
    .home_car{
        margin-left:-90px;
    }
    .home-text{
        position: relative;
        row-gap: 3rem;
    }
    
    .home_car_name{
        font-size: .800rem;
        font-weight: 400;
        color: black; 
    }
    .home_car_data{
        justify-content: space-between;
    }
    .home_car_nummer{
        font-size: var(--h2-font-size) ;
        margin-bottom: .25rem;
    }
    #zeit{
        position: relative;
        bottom: 40px;
        margin-right: 35px;
    }
    .foo1{
        position: relative;
        bottom: 40px;
    }
    #add{
        position: relative;

    }
    #copi{
        padding-top: 50px;
        margin-left: 9%;

    }
    .folge{
        display: flex;
        flex-direction: column;
        margin-left: 9%;
    }
    .fooo{
        margin-left: 10%;
    }
    .fo {
        margin-left: 9%;
    }
    .foot .name{
        position: relative;
        top:50%;
        margin-left: 30px;
    }
    
}

/* @media screen and (min-width: 1100px) {
    .home-text img{
        height: 500px;
        width: 1000px;
    }
    .home{
        display: grid;
        grid-column: 1 / 2;
    }
    .sec2{
        display: grid;
        grid-column: 2 / 2;
        padding-top: 9.2rem;
    }
    .wrapper{
        display: grid;
        width: 500px;
        margin-left: -400px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 10px 35px rgb(255, 0, 238);
    }
    .member, .terms{
        display: grid;
    }
    .terms a, .member a, .recover a{
        color: rgb(242, 143, 245);
        font-size: 1rem;
        text-decoration: none;
        position: relative;
        place-items: center;
    }
    
    .home-text h1{
        padding-top: 7rem;
    }
    
    .button{
        font-size: 1.5rem;
        margin-top: 1.8rem;
        padding: 10px 0;
        border-radius: 20px;
        outline: none;
        border: none;
        width: 80%;
        color: #fff;
        cursor: pointer;
        background-color: rgb(255, 0, 238);
    }
    .terms label{
        font-size: 1.1rem;
    }
    .home_car{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: -400px;
    }
    .home-text{
        position: relative;
        row-gap: 3rem;
    }
    
    .home_car_name{
        font-size: .800rem;
        font-weight: 400;
        color: black; 
    }
    .home_car_data{
        justify-content: space-between;
    }
    .home_car_nummer{
        font-size: var(--h2-font-size) ;
        margin-bottom: .25rem;
    }
} */
