body{
    font-family: 'poppins' , sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(239,236,236);
    margin-bottom: -100px;
    height: 100%;
   
}
header{
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    top:0;
    color:black;
}
.toggle{
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 20;
}
.ouvrir{
    display: block;
    
}
.fermer{
    display: none;
}
.open .ouvrir{
    display:none;
}
.open .fermer{
    display:block;
}
.nav{
    background-color: #3E3BC0;
    position: absolute;
    height: 100%;
    width: 100%;
    top:-20px;
    left:-20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    transform: translatex(-110%);
    transition: transform 0.5s;
}

.nav li,a{
    margin: 20px 0;
    padding: 10px 40px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.open .nav{
    transform: translatex(-10px);
}
.open .nav a:hover{
    background-color:#5856ae;
}
h1{
    text-align: center;
    font-size: 20px;
}
.name span{
    color: #3E3BC0;
    font-weight: bold;
    font-size: 3em;
 }
.f1{
    display:block;
    border: 0.5px solid black;
    margin:20px;
    align-items: center;
    height: 60%;
    font-size: 15px;
    border-radius: 6px;
}
textarea{
    outline:none;
    resize:none;
    width:95%;
    height: 200px;
}
.boite{
    display: flex;
    margin: 20px;
}
.boit1{
    width: 80%;
    display: grid;
    grid-gap: 10px;
    justify-content: space-between;
    
}
.bt{
    background-color: white;
    padding-left: 5px;
    display: flex;
}
input{
    outline:none;
}
.tc{
    position:fixed;
}

.schicken{
    border:none;
    color: white;
    font-size: 20px;
    background-color: #3E3BC0;
    border-radius: 10px;
    padding: 10px 20px;
    margin:20px;
    transition: transform 1s;
}
.schicken:hover{
    transform: scale(1.07);
}
footer{
    text-align: center;
    color: white;
    background-color:#3E3BC0;
    width:100%;
    padding-top:15px;
    margin-bottom:0px;
    clear: both;
}
footer .foot{
    padding: 15px 0;
    font-size: 18px;
}
.foo1{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.foo1:hover{
    color: green;
}

.input{
    padding-right: 20px;
    border: 0px solid ;
}
.boit{
    margin-left: 20px;
}
i{
    color: #000000;
}
.liste-horaires{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 30% 20px 10% ;
    align-items: center;
}
.foo1{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}
.foot .lien-icone{
    align-items: center;
    padding: 5px;
    
}
@media screen and (min-width:667px){
    .toggle{
        display: none;
    }
    .nav{
        transform: translateX(0);
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction:row;
        transition: transform 0s;
        width: auto;
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }
    .nav a{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: -20px;
        margin-right: -30px;
        color: black;
        font-size: 16px;

    }
    .nav a:hover{
        background-color: #5856ae;
        color: white;
    }
    .nav a i{
        margin-right:5px;
    }
    .nav .hilfe{
        background-color: #3E3BC0;
        color: white;
        border-radius: 6px;
        padding: 10px 20px;
    }
    header{
        padding-bottom: 0px;
        margin-bottom: -30px;

    }
    hr{
        border: 1px solid black;
        margin-bottom: 50px;
    }
    .boit1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    input{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
    }
    .f1{
        font-size: 1.1rem;
        width: 75%;
        margin-left:15%;
        padding:0;
    }
    textarea{
        width: 70%;
        height: 12cm;
        margin-left: 20px;
    }
    footer{
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        padding-top: 30px;
        background-color: #3E3BC0;
    }
    footer .foot{
        position: static;
        margin: 0px;
    }
    footer .foot:nth-child(3){
        display: flex;
        flex-direction: column;

    }
    footer .lo{
        margin-top: 20px;
    }
    footer .las{
        position: relative;
        margin-top: 50px;
    }
    .space{
        margin-right: 30px;
        margin-left: 30px;
    }
    .liste-horaires{
        display: flex;
        flex-direction: column;
        margin: 20px 40% 20px 0 ;
        align-items: center;
    }
}